* {
  box-sizing: 0;
  font-size: 20px;
  font-weight: 300;
}

html,
body {
  margin: 0;
  padding: 10px;
}

form {
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form div:nth-child(3),
form div:nth-child(4) {
  width: 47.5%;
  margin: -2px;
  display: inline-block;
}

form div:nth-child(4) {
  margin-left: 5%;
}

form div label {
  display: inline;
  font-size: 16px;
}

form div input {
  border: 1px solid #ccc;
}


table {
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

td,
th {
  max-width: 15%;
  overflow-y: scroll;
  padding: 8px;
  text-align: left;
}

thead>tr,
tr:nth-child(even) {
  background-color: #ddd;
}

input[type=text],
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  margin: 8px 0;
  padding: 14px 20px;
  font-size: 16px;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #ddd;
}

a {
  margin-right: 4px;
  color: #0000ee;
  cursor: pointer;
  text-decoration: underline;
}

.hide {
  display: none;
}

.validation-error {
  color: red;
  margin-left: 5px;
}

div.submition {
  text-align: right
}