.slider {
  width: 90%;
  height: 250px;
  margin: 25px auto;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1.5);
}

.slide {
  width: 100%;
  height: 250px;
  margin-left: -1.02%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: inline-flex;
}

.slide:nth-child(1) {
  margin-left: 0%;
}

.content {
  width: 98%;
  height: 244px;
  margin: 3px auto;
  padding: 0;
  border-radius: 5px;
  text-align: center;
  color: rgb(219, 68, 55);
  background: rgb(244, 180, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}